
.buy{
    padding: 150px 0 0;
}
.buy__inner{
    display: flex;
    align-items: center;
    gap: 90px;
}
.buy__content{
    max-width: 510px;
    position: relative;
}
.buy__title{
    margin-bottom: 50px;
    color: #0093A1;
}
.buy__list{
    margin-bottom: 25px;
}
.buy__item{
    margin-bottom: 25px;
    max-width: 285px;
}
.buy__item:hover .buy__list-title{
    color: #0093A1;


}
.buy__list-title{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    transform: var(--transition);
}
.buy__price {
    position: absolute;
    right: 0;
    bottom: 130px;
    width: 201px;
    aspect-ratio: 1;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/star.svg);
    transition: var(--transition);
}
.buy__price:hover {
    transform: scale(1.3);
}
.buy__btn{
    font-family: 'Comfortaa', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    background-color: transparent;
    border: 2px solid var(--color-turquoise);
    color: #0093A1;
    cursor: pointer;
    padding: 18px;
    max-width: 454px;
    width: 100%;
    text-align: center;
    transition: all;
}
.buy__btn:hover {
    border-color: #B9C400;
    background-color: #B9C400;
    color: #262C27;
}